h2{
    color: #00d8ff !important;
}
body {
    background-color: #222 !important;
    color: #00d8ff !important;
}

.media-body {
    color: #00d8ff !important;
}
.search-bar {
    margin: 20px;
    width: 84.7%;
    text-align: left;
}

.search-bar input {
    width: 75%;
}

.video-item img {
    max-width: 64px;
}

.video-detail .details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.list-group-item {
    cursor: pointer;
    background-color: #222 !important;
    border: 1px solid #00d8ff !important;
}

.list-group-item:hover {
    background-color: grey !important;
}
